<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

     <!-- STYLESHEETS -->
     <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">

    <title>Search</title>
</head>
<body>
     <!-- nav bar -->
    <div id ="musicFest">List of Festivals</div>
    <nav id ="navBar">
        <ul class="nav">
            <li><a href = "/">Home</a></li>
            <li><a href = "/newEvent">Save Festivals</a><li>
            <li><a href = "https://rover33.github.io/Project-1-webgame/">Play Games</a></li>
<!-- ejs to check to see if user is logged in then hide login and sign up button, if not login or sign up -->
        <% if (currentUser) {%> 
            <li><a href="/logout">Logout <%= currentUser.email %></a></li>
        <% } else { %>
            <li><a href="/login">Login</a></li>
            <li><a href="/signup">Signup</a></li> 
            <% } %>
            
        </ul>
    </nav>

    <ul>
         <!-- ejs for rendering and appending the info to the page-->
        <% for (let i = 0; i < festivals.length; i++) { %>
            <div class = "festivalInfo" >
                <li class= "text-left"><span id ="eventName">Name: </span><%= festivals[i].name %></li>
                <li class= "text-left"><span id ="venueName">Venue: </span><%= festivals[i].venue %></li>
                <li class= "text-left"><span id ="cityName">City: </span><%= festivals[i].city %></li>
                <li class= "text-left"><span id ="dateName">Date: </span><%= festivals[i].eventDateLocal %></li>
            </div>
            <br>
        <% } %>
    </ul>
    
</body>
</html>